<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/background.ejs %>
  <% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
  <div class="forums">


    <div class="forum-container">
      <div class="forum-links">
        <a href="/astro/forums">Main</a>
        <a href="/astro/forums/new">SUBMIT NEW POST</a>
      </div>
      <table>
        <tr>
          <th>Board</th>
          <th>Posts</th>
          <th>Last Post</th>
        </tr>
        <tr>
          <td><a href="/astro/forums/welcome">Welcome</a><br /> <span style="font-size: 12px;">introduce yourself!</span></td>
          <td><%=welcomePosts.length%></td>
          <td><%=moment(welcomePosts[0].date).format('MM-DD-YYYY h:mm a')%></td>
        </tr>
        <tr>
          <td><a href="/astro/forums/advice">Ask/Offer</a><br /> <span style="font-size: 12px;">advice</span></td>
          <td><%=advicePosts.length%></td>
          <td><%=moment(advicePosts[0].date).format('MM-DD-YYYY h:mm a')%></td>
        </tr>
        <tr  class="bottom-tr">
          <td><a href="/astro/forums/watercooler">Water Cooler</a><br /> <span style="font-size: 12px;">anything else</span></td>
          <td><%=watercoolerPosts.length%></td>
          <td><%=moment(watercoolerPosts[0].date).format('MM-DD-YYYY h:mm a')%></td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>
